.bg-top {
     margin-bottom: 100px;
 }

 .card-container {
     display: flex;
     justify-content: space-between;
 }

 .cards {
     height: 100%;
     width: 75%;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
 }

 .calculate {
     position: sticky;
     right: 0;
     top: 0;
     height: 100%;
     background-color: rgb(255, 255, 238);
     width: 25%;
     text-align: center;
     border-radius: 10px;
 }

 .myImg {
     width: 80px;
     display: flex;
 }

 .d-flex {
     display: flex;
 }

 .information {
     margin-top: 20px;
     margin-left: 15px;
     text-align: center;
     height: 130px;
     width: 305px;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: white;
 }

 .information span {
     text-align: center;
     padding: 10px 10px;
     font-size: 18px;
     color: black;
 }

 .break h3 {
     display: flex;
     margin-left: 18px;
     justify-content: start;
 }

 .break-container {
     height: 80px;
     width: 322px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: white;
 }

 .break-container div {
     background-color: rgb(104, 104, 231);
     padding: 17px 15px;
     margin: 0 5px;
     border-radius: 50px;
     color: white;
     font-size: 25px;
 }

 .break-container div:active {
     background-color: rgb(87, 87, 197);
 }

 .details h3 {
     display: flex;
     margin-left: 18px;
     justify-content: start;
 }

 .details-container div {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 25px;
     margin: 0 35px;
     background-color: white;
     margin-bottom: 15px;
 }

 .para-style {
     color: rgb(123, 123, 123);
 }

 .completed-btn {
     color: white;
     background-color: aquamarine;
     padding: 15px 60px;
     cursor: pointer;
     border: none;
     font-size: 17px;
     transition: 0.5s;
 }

 .completed-btn:hover {
     color: white;
     background-color: cyan;
     padding: 15px 60px;
     cursor: pointer;
     border: none;
     font-size: 17.5px;
 }

 .completed-btn:active {
     background-color: aquamarine;
     transform: scale(1.1);
 }

 .padding {
     padding: 10px;
     text-align: center;
 }

 @media screen and (min-width: 1066px) and (max-width: 1280px) {
     .cards {
         width: 60%;
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         justify-content: center;
         align-items: center;
         text-align: center;

     }

     .calculate {
         height: 100%;
         background-color: rgb(255, 255, 238);
         right: 0;
         width: 40%;
         text-align: center;
         border-radius: 10px;
     }
 }

 @media screen and (min-width: 777px) and (max-width: 1066px) {
     .cards {
         width: 100%;
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         margin-top: 400px;
     }

     .calculate {
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         position: absolute;
         top: 0;
         background-color: rgb(255, 255, 238);
         width: 100vw;
     }
 }

 @media screen and (max-width: 777px) {
     .cards {
         width: 100%;
         display: grid;
         grid-template-columns: repeat(1, 1fr);
         margin-top: 500px;
     }

     .calculate {
         display: block;
         justify-content: center;
         align-items: center;
         text-align: center;
         position: absolute;
         top: 0;
         background-color: rgb(255, 255, 238);
         width: 100vw;
     }
 }