.position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 254, 245);
}

.header {
    display: flex;
    align-items: center;
}

.position ul {
    display: flex;
}

.position ul li a{
    padding-right: 40px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.position ul li{
    list-style: none;
}

.logo {
    width: 100px;
}